<h3>Post</h3>
<ul>
  <li>Title: <%= @post.title %></li>
  <li>Content: <%= @post.content %></li>
  <li>Created At: <%= @post.created_at %></li>
  <li>Updated At: <%= @post.updated_at %></li>


</ul>
<%= link_to 'Edit Post', edit_post_path(@post), class: 'btn btn-warning' if @post.user == current_user %>
<h3>Comments <%= link_to 'Add comments', new_post_comment_path(@post), class: "btn btn-light" %>
</h3>

<% if @comments.any? %>
  <% @comments.each do |comment| %>
    <li>
      <%= comment.content %>
      <%= comment.user.email %>
      <%= comment.created_at %>
      <% if comment.user == current_user %>
        <%= link_to 'Edit', edit_post_comment_path(@post, comment), class: "btn btn-sm btn-primary me-2" %>
        <%= button_to 'Delete', post_comment_path(@post, comment), method: :delete, class: "btn btn-sm btn-danger me-2", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
      <% end %>
    </li>

  <% end %>
<% else %>
  <p>No comments yet.</p>
<% end %>
<%= link_to '<<Go back', root_path %>



