<ul>
  <li>Title: <%= @post.title %></li>
  <li>Content: <%= @post.content %></li>
  <li>Created At: <%= @post.created_at %></li>
  <li>Updated At: <%= @post.updated_at %></li>


</ul>
<% @comments.each do |comment| %>
  <li>
    <%= comment.content %>
    <%= comment.created_at %>
    <%= link_to 'Edit', edit_post_comment_path(@post, comment), class: "btn btn-sm btn-primary me-2" if comment.user == current_user %>
    <%= button_to 'Delete', post_comment_path(@post, comment), method: :delete, class: "btn btn-sm btn-danger me-2", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } if comment.user == current_user || @post.user == current_user %>
  </li>
<% end %>
<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-warning' %>
